.jokenpo-footer {
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.jokenpo-footer-btn {
    width: 100%;
    height: 5em;
    border: none;
    background-color: rgba(9, 232, 240, 0.938);
}

.jokenpo-body {
    width: 100%;
    height: 100vh;
    background-color: rgba(102, 76, 250, 0.74);
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}

.jokenpo-score-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    position: absolute;
    bottom: 7em;
    text-align: center;
    font-size: 1.5em;
}

.jokenpo-score {
    display: flex;
    justify-content: center;
    gap: 2.6em;
}

.jokenpo-pickachoice-container, .jokenpo-app-option, .jokenpo-player-option {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 18em;
    gap: 1em;
}

.jokenpo-pickachoice-btn-container, .jokenpo-player-option {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    height: 100%;
    height: 8em;
}

.jokenpo-pickachoice-btn {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border: none;
    border-radius: 10em;
}

.jokenpo-app-option {
    height: 10em;
    top: 6em;
}

.jokenpo-app-btn, .jokenpo-option {
    width: 100%;
    height: 100%;
    max-width: 10em;
    border: none;
    border-radius: 10em;
}

.jokenpo-pickachoice-btn-Appcontainer {
    width: 100%;
    height: 100%;
}

.jokenpo-player-option {
    height: 11em;
    align-items: center;
}

.jokenpo-option {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 100%;
    max-width: 9em;
    height: 100%;
    border-radius: 10em;
    justify-content: center;
}

.jokenpo-player-option {
    gap: 1em;
}