@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.tictactoe-table
{
  width: 100%;
  height: 45vh;
  /* max-height: 80em; */
  background-color: #797979;
  color: #fff;
	margin-top: 0.4em;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tictactoe-table:hover {
  cursor: pointer;
}

.table
{
  border: 6px solid rgb(221, 216, 216);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tictactoe-title {
  margin: auto;
  padding-right: 1em;
}

.toctactoe-header {
  display: flex;
  background-color: rgba(248, 6, 6, 0.7);
  width: 100%;
  padding-top: 0.6em;
  margin-bottom: 0.4em;
  padding-bottom: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tictactoe-arrow-btn {
  background: none;
  border: none;
}

.tictactoe-arrow-btn:hover {
  color: whitesmoke;
  cursor: pointer;
}

.tictactoe-body {
  font-family: cursive;
  font-weight: 100;
  display: block;
  color: whitesmoke;
  height: 100vh;
  background-color: rgba(204, 201, 201, 0.733);
}

.pickside-body {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  width: 100%;
  padding-left: 1em;
  gap: 1em;
  padding-bottom: 1em;
  align-items: center;
  background-color: rgba(255, 145, 0, 0.719);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 1em;
  margin-bottom: 1em;

}

.pickside-btn {
  border: none;
  background-color: #1c32fdc2;
  border-radius: 4px;
  max-width: 10em;
  width: 100%;
  height: 2.8em;
  font-size: 1em;
  font-weight: 700;
  
}

.pickside-btn:hover {
  cursor: pointer;
  color: whitesmoke;
}

.score-body {
  background-color: rgba(255, 145, 0, 0.719);
  display: flex;
  flex-direction: column;
}

.tictactoe-reset-btn {
  font-family: cursive;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 800;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(248, 6, 6, 0.7);
  padding-bottom: 1em;
  padding-top: 1.2em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tictactoe-reset-btn:hover {
  cursor: pointer;
}

.score-title {
  text-align: center;
}

.score-poitns-container {
  padding-top: 0.8em;
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.score-points {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1em;
  border: 1px solid rgba(116, 115, 115, 0.726)
}

@media screen and (min-width: 1040px) {
  .tictactoe-table {

    width: 100%;
    height: 55vh;
    justify-content: center;
  }
}



/* CSS */
.pickside-btn {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 20em;

  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pickside-btn:focus {
  outline: 0;
}

.pickside-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.pickside-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 1040px) {
  .pickside-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
    max-width: 40em;
  }
}