.container {
    background-color: grey;
    display: flex;
    position: absolute;
    width: 80vw;
    height: 60vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}